<div class="reading-container reading-container--form">
  <h1 class="page-title">{{ 'customer.reset_password.title' | t }}</h1>

  <p class="note">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

  <div class="form">
    {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <div id="password" class="inputrow">
      <label class="large" for="password">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
    </div>
    <div id="password_confirm" class="inputrow">
      <label class="large" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
    </div>
    <div class="buttonrow">
      <input class="btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
    </div>
    {% endform %}
  </div>
</div>
