<div data-section-type="cart-template">
  <div class="content-header">
    <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>
  </div>

  <div class="reading-container">
    {% if cart.items == empty %}
    <div class="">{{ 'cart.general.empty' | t }}</div>
    {% else %}

    <h2>{{ 'cart.general.item_summary' | t }}</h2>

    <form action="/cart" method="post" id="cartform" {% if section.settings.cart_terms_show %}data-require-terms="true"{% endif %}>
      <ul>
        {% for item in cart.items %}
        <li class="item cf product-{{ item.product.handle }}">
          <div class="image">
            <a href="{{ item.url }}">
              <img src="{{ item | img_url: '80x' }}" alt="{{ item.title | escape }}"
                   srcset="{{ item | img_url: '80x' }} 80w, {{ item | img_url: '160x' }} 160w"
                   sizes="80px" />
            </a>
          </div>

          <div class="desc">
            <a class="name" href="{{ item.url }}">{{ item.title }}</a>
            {% for p in item.properties %}
            {% unless p.last == blank %}
            <div class="custom">{{ p.first }}:
              {% if p.last contains '/uploads/' %}
              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
              {% else %}
              {{ p.last }}
              {% endif %}
            </div>
            {% endunless %}
            {% endfor %}

            {% if item.variant.inventory_management == 'shopify' and item.variant.inventory_quantity < 1 %}
            <div class="backorder">
              <p>{{ 'cart.general.backorder' | t }}</p>
            </div>
            {% endif %}

            <div class="line-total">
              {% if item.original_line_price != item.line_price %}
                <span class="theme-money">{{ item.price | money }}</span>
                <s class="theme-money original-price">{{ item.original_price | money }}</s>
              {% else %}
                <span class="theme-money">{{ item.price | money }}</span>
              {% endif %}
            </div>
          </div>

          <div class="quantotal">
            <div class="quantity">
              <input aria-label="Quantity" type="text" size="2" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" />
            </div>

            <a class="remove toggler" onclick="return confirm('{{ 'cart.general.confirm_remove' | t }}')" href="/cart/change?line={{ forloop.index }}&quantity=0">
              {% include 'svg-close' %}
            </a>
          </div>
        </li><!-- /.item -->
        {% endfor %}
      </ul>

      <div class="cf cart-update-row">
        <input type="submit" class="plain cart-update" name="update" value="{{ 'cart.general.update' | t }}" />

        <div id="checkout-note" class="form">
          <label for="note"><a href="#" id="toggle-note">{{ 'cart.label.note' | t }}</a></label>
          <textarea id="note" name="note">{{ cart.note }}</textarea>
        </div>
      </div>

      {% include 'shipping-calculator' %}


      {% if section.settings.cart_terms_show %}
      <input type="checkbox" id="terms" />
      {% assign terms_url = pages[section.settings.cart_terms_page].url %}
      <label for="terms">{{ 'cart.terms.agreement_html' | t: terms_url: terms_url }}</label>
      {% endif %}

      <div class="subtotal-row">
        <h2 class="subtotal-label">{{ 'cart.label.subtotal' | t }}</h2>
        <span class="subtotal-amount h2"><span class="theme-money">{{ cart.total_price | money_with_currency }}</span></span>
      </div>

      <div class="checkout-row">
        <input class="full-width" type="submit" id="update-cart" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
      </div>

      {% if additional_checkout_buttons %}
      <div class="additional-checkout-buttons inner-row">
        {{ content_for_additional_checkout_buttons }}
      </div>
      {% endif %}

      <div class="inner-row">{{ 'cart.general.message_html' | t }}</div>

      {% if settings.show_multiple_currencies %}
      <div class="currency-different">
        {{ 'cart.multi_currency.notice_html' | t: shop_name: shop.name, shop_currency: shop.currency, selected_currency: '<strong class="selected-currency"></strong>' }}
      </div>
      {% endif %}

    </form>
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_terms_show",
        "label": "Show Terms and Conditions checkbox",
		"default": false
      },
      {
        "type": "page",
        "id": "cart_terms_page",
        "label": "Page for Terms and Conditions link"
      },
      {
        "type": "header",
        "content": "Shipping rates calculator"
      },
      {
        "type": "select",
        "id": "shipping_calculator",
        "label": "Show the shipping calculator",
        "options": [
          {
            "value": "Disabled",
            "label": "No"
          },
          {
            "value": "Enabled",
            "label": "Yes"
          }
        ],
        "default": "Disabled"
      },
      {
        "type": "text",
        "id": "shipping_calculator_default_country",
        "label": "Default country selection",
        "default": "United States"
      },
      {
        "type": "paragraph",
        "content": "If your customer is logged-in, the country in his default shipping address will be selected. If you are not sure about the spelling to use here, refer to the first checkout page."
      }
	]
  }
{% endschema %}
