{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
<div itemscope itemtype="http://schema.org/Product" data-section-type="product-template">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="http:{{ product.featured_image.src | product_img_url: 'grande' | remove: 'http:' | remove: 'https:' }}" />

  {% unless template contains 'lightbox' %}
  <div id="crumbregion" class="">
    {% if collection %}
    <div class="nextprev">
      {% if collection.previous_product %}
      <a class="prev" href="{{ collection.previous_product }}">
        {% include 'svg-chevron-left' %}
        <span class="beside-img">{{ 'products.product.previous' | t }}</span>
      </a>
      {% endif %}
      {% if collection.previous_product and collection.next_product %}
      <span class="divider">|</span>
      {% endif %}
      {% if collection.next_product %}
      <a class="text" href="{{ collection.next_product }}">
        <span class="beside-img">{{ 'products.product.next' | t }}</span>
        {% include 'svg-chevron-right' %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    <div class="crumbs desktop-only">
      {% if collection %}
      <a href="{{ collection.url }}">
        {% include 'svg-chevron-left' %}
        <span class="beside-img">{{ 'products.product.back_to' | t: collection: collection.title }}</span>
      </a>
      {% endif %}
    </div>
  </div>
  {% endunless %}

  <style type="text/css">
  @media (min-width: 768px) {
    {% for image in product.images %}
      .product-gallery__image-{{ forloop.index }} {
          width: calc((100vh - 275px) * {{ image.aspect_ratio }});
      }
    {% endfor %}
  }
  {% for image in product.images %}
    .gallery-thumbs__image-{{ forloop.index }} .rimage-outer-wrapper {
      width: {{ image.aspect_ratio | times: 68 | floor }}px;
    }
  {% endfor %}
  </style>

  <div class="product-container cf">
    <div class="product-gallery {% if product.images.size == 1 %}single-image{% endif %}">
      <div class="swiper-container gallery-top swiper-container-vertical">
        <div class="swiper-wrapper">
          {% for image in product.images %}
          <div class="swiper-slide" {% if featured_image == image %}data-featured="true"{% endif %}>
            <a class="product-gallery__image product-gallery__image-{{ forloop.index }}" href="{{ image | product_img_url: '2048x' }}" title="{{ image.alt | escape }}" data-full-size-src="{{ image | product_img_url: 'master' }}">
              {% include 'responsive-image', image: image %}
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-prev">{% include 'svg-chevron-left-light' %}</div>
        <div class="swiper-button-next">{% include 'svg-chevron-right-light' %}</div>
      </div>
      <div class="gallery-thumbs">
        {% for image in product.images %}
        <a href="#" class="gallery-thumbs__image-{{ forloop.index }}">{% include 'responsive-image', image: image %}</a>
        {% endfor %}
      </div>
    </div><!-- /.product-gallery -->

    <div class="product-info">
        <div class="inner">
            {% include 'product-label' with product %}
            <div class="majorinfo {% if label != '' %} haslabel{% endif %}">
              {{ label }}

              <h1 class="product-title" itemprop="name">{{ product.title }}</h1>

              <div class="themed-product-reviews">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>

              <div class="pricearea" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="price" content="{{ product.selected_or_first_available_variant.price | divided_by: 100.00 }}">
                <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                {% if product.available %}
                <link itemprop="availability" href="http://schema.org/InStock" />
                {% else %}
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {% endif %}

                {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
                <span class="was-price theme-money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                {% endif %}
                <span class="price theme-money">{{ product.selected_or_first_available_variant.price | money }}</span>
              </div>

              <div class="product-classification">
                {% if section.settings.prod_show_vendor %}
                {% comment %}
                Do we have a collection that has the same name as our product vendor name?
                If we do, let's have the vendor link point to it.
                If not, we will point to the automatic vendor collection.
                {% endcomment %}
                {% assign product_vendor_handle = product.vendor | handle %}
                {% if collections[product_vendor_handle].handle == product_vendor_handle %}
                {% assign vendor_url = collections[product_vendor_handle].url %}
                {% else %}
                {% assign vendor_url = product.vendor | url_for_vendor %}
                {% endif %}
                <div class="vendor">{{ 'products.product.vendor' | t }} <span itemprop="brand">{{ product.vendor | link_to: vendor_url }}</span></div>
                {% endif %}

                {% if section.settings.prod_show_sku %}
                <div class="sku {% if product.selected_or_first_available_variant.sku == blank %}sku--no-sku{% endif %}">{{ 'products.product.sku' | t }} <span class="sku__value">{{ product.selected_or_first_available_variant.sku }}</span></div>
                {% endif %}
              </div>
            </div>

            {% if product.available %}

            {% capture history_state_data %}{% unless template contains 'lightbox' %}true{% else %}false{% endunless %}{% endcapture %}

            {% form 'product', product, class: 'product-form', data-product-id: product.id, data-ajax: section.settings.enable_ajax_add, data-enable-history-state: history_state_data %}
              <div class="productoptions section">
                {% if product.variants.size > 1 %}
                <div class="inputrow">

                  <div class="option-selectors">
                    {% for option in product.options_with_values %}
                      <div class="selector-wrapper cf">
                        <label {% if option.name == 'default' %}class="hidden"{% endif %} for="option-{{ option.name | handle }}">
                          {{ option.name }}
                        </label>
                        <select id="option-{{ option.name | handle }}">
                          {% for value in option.values %}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                            {{ value }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>

                      {% if section.settings.show_size_chart and template.suffix != 'lightbox' and option.name == section.settings.size_chart_variant %}
                        <div class="size-chart-container">
                          <a href="{{ pages[section.settings.size_chart_page].url }}" target="_blank" class="size-chart-link">
                            {{ 'products.product.size_chart' | t }}
                          </a>
                          <div class="size-chart-content hidden">
                            <div class="size-chart">
                              <div class="size-chart__inner user-content">
                                {{ pages[section.settings.size_chart_page].content }}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <select name="id" class="original-selector">
                    {% for variant in product.variants %}
                    <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}">{{ variant.title | escape }}</option>
                    {% endfor %}
                  </select>

                </div>

                {% else %}
                  {% unless product.has_only_default_variant %}
                    <div class="single-variant">
                      {% for option in product.options %}
                        {% assign opt_idx = 'option' | append: forloop.index %}
                        <label>{{ option }}: {{ product.variants.first[opt_idx] }}</label>

                        {% if section.settings.show_size_chart and template.suffix != 'lightbox' and option == section.settings.size_chart_variant %}
                          <div class="size-chart-container">
                            <a href="{{ pages[section.settings.size_chart_page].url }}" target="_blank" class="size-chart-link">
                              {{ 'products.product.size_chart' | t }}
                            </a>
                            <div class="size-chart-content hidden">
                              <div class="size-chart">
                                <div class="size-chart__inner user-content">
                                  {{ pages[section.settings.size_chart_page].content }}
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endunless %}

                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                {% endif %}

                <div class="{% if section.settings.enable_payment_button %}with-payment-button{% endif %}">
                  {% if section.settings.enable_payment_button %}
                    <div>
                      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
                      <input class="quantity" type="text" name="quantity" value="1" size="2" />
                    </div>
                    <button type="submit" name="add" class="add-to-cart button button--alt">{{ 'products.product.add_to_cart' | t }}</button>
                    {{ form | payment_button }}
                  {% else %}
                    <label for="quantity">{{ 'products.product.quantity' | t }}</label>
                    <div class="quantadd">
                      <input class="quantity" type="text" name="quantity" value="1" size="2" />
                      <button type="submit" name="add" class="add-to-cart button">{{ 'products.product.add_to_cart' | t }}</button>
                    </div>
                  {% endif %}
                </div>
              </div><!-- /.options -->

              {% if product.variants.size == 1 %}
              {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity < 1 %}
              <div class="backorder">
                <p><span class="selected-variant">{{ product.title }}</span> {{ 'products.product.backorder' | t }}</p>
              </div>
              {% endif %}
              {% else %}
              <div class="backorder hidden">
                <p><span class="selected-variant"></span> {{ 'products.product.backorder' | t }}</p>
              </div>
              {% endif %}
            {% endform %}

          {% else %}
          <p>{{ 'products.product.product_unavailable' | t }}</p>
          {% endif %}

          {% if template contains 'lightbox' %}
          {% capture full_details %}{{ 'products.listing.full_details' | t }} <span class="icon-arrow3-right"></span>{% endcapture %}
          <div class="section"><a href="{{ product.url | within: collection }}">{{ full_details }}</a></div>
          {% else %}

            {% unless section.settings.prod_desc_under %}
                {% assign strip_desc_size = product.description | strip_html | replace: ' ', '' | size %}
                {% if strip_desc_size > 0 %}
                    <div class="description section" itemprop="description">
                    {{ product.description }}
                    </div>
                {% endif %}
            {% endunless %}

          {% assign show_type = false %}
          {% if section.settings.prod_show_type and product.type != blank %}{% assign show_type = true %}{% endif %}
          {% comment %} List out product tags - don't show special 'meta' tags {% endcomment %}
          {% assign show_tags = false %}
          {% if section.settings.prod_show_tags %}
            {% for tag in product.tags %}
              {% unless tag contains 'meta-' %}
                {% capture tag_html %}
                {{ tag_html }}<a class="tag" href="/collections/all/{{ tag | handleize }}">{{ tag }}</a>
                {% endcapture %}
              {% endunless %}
            {% endfor %}
            {% if tag_html contains 'a>' %}{% assign show_tags = true %}{% endif %}
          {% endif %}

            {% if show_type or show_tags %}
            <div class="morelinks section">
              {% if show_type %}
              <div class="contentsection">{{ 'products.product.see_more_of_this_type' | t }} {{ product.type | link_to_type }}</div>
              {% endif %}
              {% if show_tags %}
              <div class="in-page-tags">{{ 'products.product.tags' | t }} {{ tag_html }}</div>
              {% endif %}
            </div><!-- /.morelinks -->
            {% endif %}

            {% include 'social-sharing' with product %}

          {% endif %}
        </div>
    </div><!-- /#product-info -->
  </div><!-- /.product-container -->

  {% unless template contains 'lightbox' %}

    {% if section.settings.prod_desc_under %}
    {% assign strip_desc_size = product.description | strip_html | replace: ' ', '' | size %}
    {% if strip_desc_size > 0 %}
    <div class="descriptionunder reading-container" itemprop="description">
      {{ product.description }}
    </div>
    {% endif %}
    {% endif %}

    <div class="themed-product-reviews-manager reading-container">
      <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
    </div>

    {% if section.settings.related_products_show %}
    {% include 'related-products' %}
    {% endif %}

  {% endunless %}

</div>



{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "prod_show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "prod_show_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "prod_show_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "prod_show_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "prod_desc_under",
      "label": "Show description underneath images"
    },
    {
      "type": "checkbox",
      "id": "enable_ajax_add",
      "label": "Stay on the current page, when adding to cart",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Size chart"
    },
    {
      "type": "checkbox",
      "id": "show_size_chart",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "size_chart_variant",
      "label": "Variant name",
      "default": "Size"
    },
    {
      "type": "page",
      "id": "size_chart_page",
      "label": "Page containing size chart"
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "paragraph",
      "content": "Show other products from the same collection, underneath the product details"
    },
    {
      "type": "checkbox",
      "id": "related_products_show",
      "label": "Show",
      "default": false
    }
  ]
}
{% endschema %}
